@import url('main.css');
.font-600{
    font-weight: 600;
}
.font-500{
    font-weight: 400;
}
h2,p{
    margin: 0;
}
a{
    color: var(--violet);
    text-decoration: none;
}
.container{
    display: grid;
    gap: 2.3rem;
    width: 95%;
    max-width: 85rem;
    margin: 12rem auto;
    letter-spacing: 0.01rem;
}
.card{
    margin: 0;
    padding: 1.9rem 2.45rem;
    border-radius: 0.7rem;
    box-shadow: 19px 17px 36px -3px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card--light{
    color: var(--white);
}
.card--dark{
    color: var(--gray);
}
.card--one{
    position: relative;
    background: var(--violet) ;
}
.card--one:before{
    content: url(../img/bg-pattern-quotation.svg);
    opacity: 0.9;
    position: absolute;
    top:0;
    right: 6.5rem;
    z-index: 0;
}
.card--two{
    background: var(--gray) ;
}
.card--three, .card--five{
    background: var(--white) ;
}
.card--four{
    background: var(--gray2) ;
}
.person{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.person--name{
    font-size: 1rem;
}
.person--career{
    font-size: 0.8125rem;
    opacity: 50%;
}
.pic{
    display: flex;
    align-items: center; 
}
.person--pic{
    border-radius: 50%;
    width: 2.5rem;
    margin-right: 1rem;
}
.pic--border--light{
    border: 0.15rem solid var(--violet--light);
}
.pic--border--dark{
    border: 0.15rem solid var(--violet);
}
.title{
    font-size: 1.5rem;
    margin: 1rem 0;
    z-index: 1;
}
.subtitle{
    opacity: 70%;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.45rem;
}
.attribution{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

@media (min-width: 59.375rem) { 
    .container{
        grid-template-columns: 1fr 1fr;
    }
    
    .card--one{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .card--two{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

    }
    .card--three{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

    }
    .card--four{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .card--five{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

@media (min-width: 84.375rem) { 
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .card--one{
        grid-column-end: 3;
        grid-row-end: 2;
    }
    .card--two{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .card--three{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .card--four{
        grid-column-end: 4;
        grid-row-end: 3;
    }
    .card--five{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}